footer {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 95%;
    height: fit-content;
    padding: 35px;


    .switch-body {
        display: flex;
        align-items: center;
        width: 95px;
        height: 35px;
        padding: 0 5px;
        border-radius: 25px;
        margin-right: 25px;
        background-image: url("../assets/switchImg/bgLight.svg");
        background-position: center;
        background-repeat: no-repeat;        background-size: cover;
        cursor: pointer;
        @include smoothTransition;

        .switch {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-image: url("../assets/switchImg/switchSun.svg");
            background-position: center;
            background-repeat: no-repeat;        background-size: cover;
            cursor: pointer;
            @include smoothTransition;

        }
    }
}