.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin: 25px;
    text-align: center;

    .hero-bottom-side {

        h1 {
            font-size: 4.5rem;
            margin-bottom: 25px;
        }

        p {
            font-size: 2.5rem;
            margin-bottom: 35px;

            .hero-date {
                margin-left: 10px;
            }
        }

        input {
            min-width: 300px;
            text-align: center;
            height: 35px;
            font-size: 1.5rem;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid $white;
            color: $white;
            margin-bottom: 55px;
            outline: none;

            &::placeholder {
                color: $white
            }
        }

        button {
            @include btnHover;
        }
    }
}